<div class='footer'>
  <!-- Copyright © 2020 <a href='mailto:jhon.doe@example.com'></a><br> -->
  Template stolen from <a href='https://nicolas.petton.fr'>https://nicolas.petton.fr</a> <br>
  Last updated on %s. Generated using %s.
</div>
