<div class='intro'>
  <img src='/images/about/profile.png' alt='Impaktor' class='no-border'/>
  <h1>
    <span class="gray">Impaktor</span>
    <span class="black"></span>
  </h1>
  <p>Inject Emacs intravenously</p>
</div>

<div class='nav'>
<ul>
<li><a href='/'>Blog</a>.</li>
<li><a href='http://gitlab.com/impaktor'>GitLab</a>.</li>
<li><a href='http://github.com/impaktor'>GitHub</a>.</li>
<li><a href='/index.xml'>RSS</a>.</li>
<li><a href='/about/'>About</a></li>
</ul>
</div>

<script defer src="https://analytics.pioneerspacesim.net/script.js" data-website-id="ba238a58-92dc-4d8a-a6f5-9f5fc136ac9d"></script>
